In [1]:
# Import dependencies
import pandas as pd 
import sqlite3

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

# Setting engine for SQLite connection
engine = create_engine("sqlite:///birthdata.sqlite", echo=False)

## Cleaning County-Based and State-Based Clinic Data (2015)

### County-Based Clinic Data (2015)

In [2]:
# Import csv file 
clinic_file_2015 = "Guttmacher_Clinic_Census_County_2015.csv"
clinic2015_df = pd.read_csv(clinic_file_2015)
#clinic2015_df.columns

In [3]:
# Renaming columns 
clinic2015_df.rename(columns={
    'State': 'state', 
    'FIPS':'fips', 
    'County':'county', 
    'Total publicly funded clinics':'total_clinics',
    'Number of federally qualified health centers':'fed_center',
    'Number of health department clinics':'dept_clinic',
    'Number of hospital-based clinics':'hospital',
    'Number of Planned Parenthood clinics':'pp', 
    'Number of other clinics':'other_clinic',
    'Total Title X-funded clinics':'total_titleten',
    'Number of federally qualified health centers with Title X funding':'fed_center_tt',
    'Number of health department clinics with Title X funding':'dept_clinic_tt',
    'Number of hospital-based clinics with Title X funding':'hospital_tt',
    'Number of Planned Parenthood clinics with Title X funding':'pp_tt',
    'Number of other clinics with Title X funding':'other_clinic_tt',
    'Total number of female contraceptive clients served at publicly funded clinics':'total_client',
    'Number of female contraceptive clients served at federally qualified health centers':'fed_client',
    'Number of female contraceptive clients served at health department clinics':'dept_clinic_client',
    'Number of female contraceptive clients served at hospital-based clinics':'hospital_client',
    'Number of female contraceptive clients served at Planned Parenthood clinics':'pp_client',
    'Number of female contraceptive clients served at other clinics':'other_clinic_client',
    'Total number of female contraceptive clients served at Title X-funded clinics':'total_client_tt',
    'Number of female contraceptive clients served at Title X-funded federally qualified health centers':'fed_client_tt',
    'Number of female contraceptive clients served at Title X-funded health department clinics':'dept_clinic_client_tt',
    'Number of female contraceptive clients served at Title X-funded hospital-based clinics':'hospital_client_tt',
    'Number of female contraceptive clients served at Title X-funded Planned Parenthood clinics':'pp_client_tt',
    'Number of female contraceptive clients served at Title X-funded other clinics':'other_clinic_client_tt'}, inplace=True)

# Drop unnecessary columns
#clinic2015_df = clinic2015_df[['a', 'b']]

clinic2015_df.head(10)

,state,fips,county,total_clinics,fed_center,dept_clinic,hospital,pp,other_clinic,total_titleten,...,dept_clinic_client,hospital_client,pp_client,other_clinic_client,total_client_tt,fed_client_tt,dept_clinic_client_tt,hospital_client_tt,pp_client_tt,other_clinic_client_tt
0,Alabama,1001,Autauga,2,1,1,0,0,0,1,...,870,0,0,0,870.0,0,870,0,0,0
1,Alabama,1003,Baldwin,6,4,2,0,0,0,2,...,990,0,0,0,990.0,0,990,0,0,0
2,Alabama,1005,Barbour,3,1,2,0,0,0,2,...,900,0,0,0,900.0,0,900,0,0,0
3,Alabama,1007,Bibb,5,4,1,0,0,0,1,...,510,0,0,0,510.0,0,510,0,0,0
4,Alabama,1009,Blount,2,1,1,0,0,0,1,...,1200,0,0,0,1200.0,0,1200,0,0,0
5,Alabama,1011,Bullock,1,0,1,0,0,0,1,...,200,0,0,0,200.0,0,200,0,0,0
6,Alabama,1013,Butler,1,0,1,0,0,0,1,...,600,0,0,0,600.0,0,600,0,0,0
7,Alabama,1015,Calhoun,3,2,1,0,0,0,1,...,2340,0,0,0,2340.0,0,2340,0,0,0
8,Alabama,1017,Chambers,1,0,1,0,0,0,1,...,930,0,0,0,930.0,0,930,0,0,0
9,Alabama,1019,Cherokee,2,1,1,0,0,0,1,...,530,0,0,0,530.0,0,530,0,0,0

In [4]:
# Check data types
clinic2015_df.dtypes

state                      object
fips                        int64
county                     object
total_clinics               int64
fed_center                  int64
dept_clinic                 int64
hospital                    int64
pp                          int64
other_clinic                int64
total_titleten              int64
fed_center_tt               int64
dept_clinic_tt              int64
hospital_tt                 int64
pp_tt                       int64
other_clinic_tt             int64
total_client              float64
fed_client                  int64
dept_clinic_client          int64
hospital_client             int64
pp_client                   int64
other_clinic_client         int64
total_client_tt           float64
fed_client_tt               int64
dept_clinic_client_tt       int64
hospital_client_tt          int64
pp_client_tt                int64
other_clinic_client_tt      int64
dtype: object

### State-Based Clinic Data (2015)

In [5]:
# Import csv file 
clinic_file_state_2015 = "Guttmacher_Clinic_Census_State_2015.csv"
clinic2015st_df = pd.read_csv(clinic_file_state_2015)
#clinic2015st_df.columns

In [6]:
# Renaming columns 
clinic2015st_df.rename(columns={    
    'State': 'state',  
    'Total publicly funded clinics':'total_clinics',
    'Number of federally qualified health centers':'fed_center',
    'Number of health department clinics':'dept_clinic',
    'Number of hospital-based clinics':'hospital',
    'Number of Planned Parenthood clinics':'pp', 
    'Number of other clinics':'other_clinic',
    'Total Title X-funded clinics':'total_titleten',
    'Number of federally qualified health centers with Title X funding':'fed_center_tt',
    'Number of health department clinics with Title X funding':'dept_clinic_tt',
    'Number of hospital-based clinics with Title X funding':'hospital_tt',
    'Number of Planned Parenthood clinics with Title X funding':'pp_tt',
    'Number of other clinics with Title X funding':'other_clinic_tt',
    'Total number of female contraceptive clients served at publicly funded clinics':'total_client',
    'Number of female contraceptive clients served at federally qualified health centers':'fed_client',
    'Number of female contraceptive clients served at health department clinics':'dept_clinic_client',
    'Number of female contraceptive clients served at hospital-based clinics':'hospital_client',
    'Number of female contraceptive clients served at Planned Parenthood clinics':'pp_client',
    'Number of female contraceptive clients served at other clinics':'other_clinic_client',
    'Total number of female contraceptive clients served at Title X-funded clinics':'total_client_tt',
    'Number of female contraceptive clients served at Title X-funded federally qualified health centers':'fed_client_tt',
    'Number of female contraceptive clients served at Title X-funded health department clinics':'dept_clinic_client_tt',
    'Number of female contraceptive clients served at Title X-funded hospital-based clinics':'hospital_client_tt',
    'Number of female contraceptive clients served at Title X-funded Planned Parenthood clinics':'pp_client_tt',
    'Number of female contraceptive clients served at Title X-funded other clinics':'other_clinic_client_tt'}, inplace=True)

# Drop unnecessary columns
#clinic2015st_df = clinic2015st_df[['a', 'b']]

clinic2015st_df.head()

,state,total_clinics,fed_center,dept_clinic,hospital,pp,other_clinic,total_titleten,fed_center_tt,dept_clinic_tt,...,dept_clinic_client,hospital_client,pp_client,other_clinic_client,total_client_tt,fed_client_tt,dept_clinic_client_tt,hospital_client_tt,pp_client_tt,other_clinic_client_tt
0,US Total,10708,5829,2242,853,676,1108,3700,950,1775,...,1251190,612290,1996940,510160,3827650,711550,1083120,196610,1581760,254620
1,Alabama,187,106,77,1,2,1,83,8,75,...,79510,1250,260,60,86180,7280,78900,0,0,0
2,Alaska,157,100,16,0,5,36,5,0,1,...,3560,0,3670,3540,5290,0,1290,0,3360,630
3,Arizona,232,125,33,18,12,44,36,13,14,...,11110,4030,23930,14050,31820,3740,8970,650,16750,1700
4,Arkansas,163,69,92,0,2,0,92,0,90,...,47450,0,4590,0,51510,0,46920,0,4590,0

In [7]:
# Check data types
clinic2015st_df.dtypes

state                     object
total_clinics              int64
fed_center                 int64
dept_clinic                int64
hospital                   int64
pp                         int64
other_clinic               int64
total_titleten             int64
fed_center_tt              int64
dept_clinic_tt             int64
hospital_tt                int64
pp_tt                      int64
other_clinic_tt            int64
total_client               int64
fed_client                 int64
dept_clinic_client         int64
hospital_client            int64
pp_client                  int64
other_clinic_client        int64
total_client_tt            int64
fed_client_tt              int64
dept_clinic_client_tt      int64
hospital_client_tt         int64
pp_client_tt               int64
other_clinic_client_tt     int64
dtype: object

## Cleaning County-Based and State-Based Clinic Data (2010)

### County-Based Clinic Data (2010)

In [8]:
# Import csv file 
clinic_file_2010 = "Guttmacher_Clinic_Census_County_2010.csv"
clinic2010_df = pd.read_csv(clinic_file_2010)
#clinic2010_df.columns

In [9]:
# Renaming columns 
clinic2010_df.rename(columns={
    'State': 'state', 
    'FIPS':'fips', 
    'County':'county', 
    'Total publicly funded clinics':'total_clinics',
    'Number of federally qualified health centers':'fed_center',
    'Number of health department clinics':'dept_clinic',
    'Number of hospital-based clinics':'hospital',
    'Number of Planned Parenthood clinics':'pp', 
    'Number of other clinics':'other_clinic',
    'Total Title X-funded clinics':'total_titleten',
    'Number of federally qualified health centers with Title X funding':'fed_center_tt',
    'Number of health department clinics with Title X funding':'dept_clinic_tt',
    'Number of hospital-based clinics with Title X funding':'hospital_tt',
    'Number of Planned Parenthood clinics with Title X funding':'pp_tt',
    'Number of other clinics with Title X funding':'other_clinic_tt',
    'Total number of female contraceptive clients served at publicly funded clinics':'total_client',
    'Number of female contraceptive clients served at federally qualified health centers':'fed_client',
    'Number of female contraceptive clients served at health department clinics':'dept_clinic_client',
    'Number of female contraceptive clients served at hospital-based clinics':'hospital_client',
    'Number of female contraceptive clients served at Planned Parenthood clinics':'pp_client',
    'Number of female contraceptive clients served at other clinics':'other_clinic_client',
    'Total number of female contraceptive clients served at Title X-funded clinics':'total_client_tt',
    'Number of female contraceptive clients served at Title X-funded federally qualified health centers':'fed_client_tt',
    'Number of female contraceptive clients served at Title X-funded health department clinics':'dept_clinic_client_tt',
    'Number of female contraceptive clients served at Title X-funded hospital-based clinics':'hospital_client_tt',
    'Number of female contraceptive clients served at Title X-funded Planned Parenthood clinics':'pp_client_tt',
    'Number of female contraceptive clients served at Title X-funded other clinics':'other_clinic_client_tt'}, inplace=True)

# Drop unnecessary columns
#clinic2010_df = clinic2010_df[['a', 'b']]

clinic2010_df.head(10)

,state,fips,county,total_clinics,fed_center,dept_clinic,hospital,pp,other_clinic,total_titleten,...,dept_clinic_client,hospital_client,pp_client,other_clinic_client,total_client_tt,fed_client_tt,dept_clinic_client_tt,hospital_client_tt,pp_client_tt,other_clinic_client_tt
0,Alabama,1001,Autauga,2,1,1,0,0,0,1,...,1120,0,0,0,1120.0,0,1120,0,0,0
1,Alabama,1003,Baldwin,3,2,1,0,0,0,1,...,1250,0,0,0,1250.0,0,1250,0,0,0
2,Alabama,1005,Barbour,3,1,2,0,0,0,2,...,1050,0,0,0,1050.0,0,1050,0,0,0
3,Alabama,1007,Bibb,2,1,1,0,0,0,1,...,670,0,0,0,670.0,0,670,0,0,0
4,Alabama,1009,Blount,2,1,1,0,0,0,1,...,1520,0,0,0,1520.0,0,1520,0,0,0
5,Alabama,1011,Bullock,1,0,1,0,0,0,1,...,330,0,0,0,330.0,0,330,0,0,0
6,Alabama,1013,Butler,1,0,1,0,0,0,1,...,700,0,0,0,700.0,0,700,0,0,0
7,Alabama,1015,Calhoun,2,1,1,0,0,0,1,...,2910,0,0,0,2910.0,0,2910,0,0,0
8,Alabama,1017,Chambers,2,1,1,0,0,0,1,...,850,0,0,0,850.0,0,850,0,0,0
9,Alabama,1019,Cherokee,1,0,1,0,0,0,1,...,600,0,0,0,600.0,0,600,0,0,0

In [10]:
# Check data types
clinic2010_df.dtypes

state                      object
fips                        int64
county                     object
total_clinics               int64
fed_center                  int64
dept_clinic                 int64
hospital                    int64
pp                          int64
other_clinic                int64
total_titleten              int64
fed_center_tt               int64
dept_clinic_tt              int64
hospital_tt                 int64
pp_tt                       int64
other_clinic_tt             int64
total_client              float64
fed_client                  int64
dept_clinic_client          int64
hospital_client             int64
pp_client                   int64
other_clinic_client         int64
total_client_tt           float64
fed_client_tt               int64
dept_clinic_client_tt       int64
hospital_client_tt          int64
pp_client_tt                int64
other_clinic_client_tt      int64
dtype: object

### State-Based Clinic Data (2010)

In [11]:
# Import csv file 
clinic_file_state_2010 = "Guttmacher_Clinic_Census_State_2010.csv"
clinic2010st_df = pd.read_csv(clinic_file_state_2010)
#clinic2010st_df.columns

In [12]:
# Renaming columns 
clinic2010st_df.rename(columns={    
    'State': 'state',  
    'Total publicly funded clinics':'total_clinics',
    'Number of federally qualified health centers':'fed_center',
    'Number of health department clinics':'dept_clinic',
    'Number of hospital-based clinics':'hospital',
    'Number of Planned Parenthood clinics':'pp', 
    'Number of other clinics':'other_clinic',
    'Total Title X-funded clinics':'total_titleten',
    'Number of federally qualified health centers with Title X funding':'fed_center_tt',
    'Number of health department clinics with Title X funding':'dept_clinic_tt',
    'Number of hospital-based clinics with Title X funding':'hospital_tt',
    'Number of Planned Parenthood clinics with Title X funding':'pp_tt',
    'Number of other clinics with Title X funding':'other_clinic_tt',
    'Total number of female contraceptive clients served at publicly funded clinics':'total_client',
    'Number of female contraceptive clients served at federally qualified health centers':'fed_client',
    'Number of female contraceptive clients served at health department clinics':'dept_clinic_client',
    'Number of female contraceptive clients served at hospital-based clinics':'hospital_client',
    'Number of female contraceptive clients served at Planned Parenthood clinics':'pp_client',
    'Number of female contraceptive clients served at other clinics':'other_clinic_client',
    'Total number of female contraceptive clients served at Title X-funded clinics':'total_client_tt',
    'Number of female contraceptive clients served at Title X-funded federally qualified health centers':'fed_client_tt',
    'Number of female contraceptive clients served at Title X-funded health department clinics':'dept_clinic_client_tt',
    'Number of female contraceptive clients served at Title X-funded hospital-based clinics':'hospital_client_tt',
    'Number of female contraceptive clients served at Title X-funded Planned Parenthood clinics':'pp_client_tt',
    'Number of female contraceptive clients served at Title X-funded other clinics':'other_clinic_client_tt'}, inplace=True)

# Drop unnecessary columns
#clinic2010st_df = clinic2010st_df[['a', 'b']]

clinic2010st_df.head()

,state,total_clinics,fed_center,dept_clinic,hospital,pp,other_clinic,total_titleten,fed_center_tt,dept_clinic_tt,...,dept_clinic_client,hospital_client,pp_client,other_clinic_client,total_client_tt,fed_client_tt,dept_clinic_client_tt,hospital_client_tt,pp_client_tt,other_clinic_client_tt
0,US Total,8409,3165,2439,664,817,1324,4111,557,2180,...,1834800,511310,2407840,898070,4724250,435570,1689860,221220,1769760,607830
1,Alabama,168,87,76,2,2,1,80,5,75,...,96270,1870,280,60,103660,7500,96160,0,0,0
2,Alaska,118,75,15,1,5,22,6,0,2,...,12030,350,5460,2570,6810,0,3930,0,2040,840
3,Arizona,184,90,34,15,18,27,37,3,20,...,14940,3520,36390,21710,42740,3440,13760,800,19260,5480
4,Arkansas,145,54,89,0,2,0,89,0,89,...,77070,0,4270,0,77070,0,77070,0,0,0

In [13]:
# Check data types
clinic2010st_df.dtypes

state                     object
total_clinics              int64
fed_center                 int64
dept_clinic                int64
hospital                   int64
pp                         int64
other_clinic               int64
total_titleten             int64
fed_center_tt              int64
dept_clinic_tt             int64
hospital_tt                int64
pp_tt                      int64
other_clinic_tt            int64
total_client               int64
fed_client                 int64
dept_clinic_client         int64
hospital_client            int64
pp_client                  int64
other_clinic_client        int64
total_client_tt            int64
fed_client_tt              int64
dept_clinic_client_tt      int64
hospital_client_tt         int64
pp_client_tt               int64
other_clinic_client_tt     int64
dtype: object

## Cleaning Outcomes Data (2016)

In [14]:
# Import csv file 
outcomes_file = "Guttmacher_Outcomes_State_2016.csv"
outcomes_df = pd.read_csv(outcomes_file)
outcomes_df.columns

Index(['U.S. State',
       'No. of pregnancies averted by Title X-funded centers, 2016',
       'No. of births averted by Title X-funded centers, 2016',
       'No. of abortions averted by Title X-funded centers, 2016',
       'No. of pregnancies averted to clients aged <20 by Title X-funded centers, 2016',
       'No. of Title X-funded centers, 2015',
       'No. of female contraceptive clients served at Title X-funded centers, 2016',
       'No. of female contraceptive clients served at publicly funded centers , 2016',
       'No. of female contraceptive clients younger than 20 served at publicly funded centers, 2016',
       'No. of female contraceptive clients younger than 20 served at Title X-funded centers, 2016',
       'No. of publicly funded family planning centers, 2015',
       'No. of pregnancies averted by publicly funded centers, 2016',
       'No. of births averted by publicly funded centers, 2016',
       'No. of abortions averted by publicly funded centers, 2016',
       'No. of pregnancies averted to clients aged <20 by publicly funded centers, 2016',
       '% of likely need met by Title X-funded centers, 2016',
       '% of likely need met by publicly funded centers, 2016'],
      dtype='object')

In [15]:
# Renaming columns 
outcomes_df.rename(columns={    
    'U.S. State': 'state',
    'No. of pregnancies averted by Title X-funded centers, 2016': 'preg_averted_tt',
    'No. of births averted by Title X-funded centers, 2016': 'births_averted_tt',
    'No. of abortions averted by Title X-funded centers, 2016': 'abortions_averted_tt',
    'No. of pregnancies averted to clients aged <20 by Title X-funded centers, 2016': 'teen_preg_tt',
    'No. of Title X-funded centers, 2015': 'tt_centers',
    'No. of female contraceptive clients served at Title X-funded centers, 2016': 'bc_tt',
    'No. of female contraceptive clients served at publicly funded centers , 2016': 'bc_centers',
    'No. of female contraceptive clients younger than 20 served at publicly funded centers, 2016': 'teen_bc_centers',
    'No. of female contraceptive clients younger than 20 served at Title X-funded centers, 2016': 'teen_bc_tt',
    'No. of publicly funded family planning centers, 2015': 'centers',
    'No. of pregnancies averted by publicly funded centers, 2016': 'preg_averted',
    'No. of births averted by publicly funded centers, 2016': 'births_averted',
    'No. of abortions averted by publicly funded centers, 2016': 'abortions_averted',
    'No. of pregnancies averted to clients aged <20 by publicly funded centers, 2016': 'teen_preg',
    '% of likely need met by Title X-funded centers, 2016': 'percent_met_tt',
    '% of likely need met by publicly funded centers, 2016': 'percent_met_centers'}, inplace=True)

# Drop unnecessary columns
#outcomes_df = outcomes_df[['a', 'b']]
outcomes_df.head(10)

,state,preg_averted_tt,births_averted_tt,abortions_averted_tt,teen_preg_tt,tt_centers,bc_tt,bc_centers,teen_bc_centers,teen_bc_tt,centers,preg_averted,births_averted,abortions_averted,teen_preg,percent_met_tt,percent_met_centers
0,U.S. total,755300,355650,255550,172490,3700,3522120,6088190,1166960,626970,10708,1305570,614760,441730,321050,17,18
1,Alabama,18330,8630,6200,4680,83,85460,97600,20300,17010,187,20930,9850,7080,5580,24,28
2,Alaska,1560,740,530,390,5,7280,21640,4750,1400,157,4640,2190,1570,1310,18,54
3,Arizona,6570,3090,2220,1610,36,30620,88140,16500,5840,232,18900,8900,6390,4540,7,19
4,Arkansas,10040,4730,3400,2590,92,46840,50960,10610,9400,163,10930,5150,3700,2920,21,23
5,California,194280,91480,65730,38590,353,905950,1618010,252840,140280,1697,346970,163380,117390,69560,36,64
6,Colorado,8940,4210,3020,2630,64,41680,115490,23720,9570,221,24770,11660,8380,6530,12,35
7,Connecticut,7420,3500,2510,1550,20,34620,68130,14160,5630,92,14610,6880,4940,3900,19,38
8,Delaware,3220,1510,1090,1150,38,15000,16080,4510,4180,41,3450,1620,1170,1240,28,30
9,District of Columbia,8070,3800,2730,1750,23,37650,43600,7370,6350,31,9350,4400,3160,2030,76,88

In [16]:
outcomes_df.dtypes

state                   object
preg_averted_tt          int64
births_averted_tt        int64
abortions_averted_tt     int64
teen_preg_tt             int64
tt_centers               int64
bc_tt                    int64
bc_centers               int64
teen_bc_centers          int64
teen_bc_tt               int64
centers                  int64
preg_averted             int64
births_averted           int64
abortions_averted        int64
teen_preg                int64
percent_met_tt           int64
percent_met_centers      int64
dtype: object

## County Populations Data

In [17]:
# Import csv file 
county_populations_df = pd.read_csv("county_populations.csv", encoding='latin-1')
county_populations_df 
#county_populations_df.dtypes

             state         county  2010_population  2015_population
0             Iowa          Adair             7682             7145
1         Kentucky          Adair            18656            19162
2         Missouri          Adair            25607            25353
3         Oklahoma          Adair            22683            22259
4         Colorado          Adams           441603           490443
...            ...            ...              ...              ...
3136    California           Yuba            72155            74045
3137        Alaska  Yukon-Koyukuk             5588             5465
3138         Texas         Zapata            14018            14493
3139         Texas         Zavala            11677            12310
3140  South Dakota        Ziebach             2801             2837

[3141 rows x 4 columns]

## CDC Vulnerability Index

In [18]:
# Import csv file 
county_SVI_df = pd.read_csv("2016_SVI_extract.csv")

# Reformatting state name
state_formatting = pd.Series(county_SVI_df['state'])
state_formatting = state_formatting.str.title()
county_SVI_df['state'] = state_formatting 
county_SVI_df
#county_SVI_df.dtypes

,state,county,FIPS,SVI_sum_of_indicators,SVI_ranking,percent_uninsured
0,Colorado,Park,8093,1.9147,0.0000,11.6
1,Illinois,Monroe,17133,2.4187,0.0003,4.2
2,Nebraska,Loup,31115,2.5091,0.0006,9.2
3,Nevada,Eureka,32011,2.5842,0.0010,16.6
4,Montana,Petroleum,30069,2.5985,0.0013,22.9
...,...,...,...,...,...,...
3137,Texas,Zavala,48507,12.2951,0.9987,21.7
3138,Texas,Brooks,48047,12.3448,0.9990,23.5
3139,New Mexico,Cibola,35006,12.3728,0.9994,19.0
3140,New Mexico,Luna,35029,12.4680,0.9997,16.7
3141,Alabama,Perry,1105,12.5072,1.0000,15.4

## Exporting to SQLite

In [19]:
# Export new dfs to SQLite
clinic2015_df.to_sql(name='clinic2015_county', con=engine)
clinic2015st_df.to_sql(name='clinic2015_state', con=engine)
clinic2010_df.to_sql(name='clinic2010_county', con=engine)
clinic2010st_df.to_sql(name='clinic2010_state', con=engine)
outcomes_df.to_sql(name='outcomes', con=engine)
county_SVI_df.to_sql(name='county_svi', con=engine)
county_populations_df.to_sql(name='county_pop', con=engine)

### Double-Checking Classes and Work

In [26]:
# Checking classes were made successfully: https://stackoverflow.com/questions/42946174/sqlalchemy-automap-not-generating-base-classes-table-name
engine = create_engine("sqlite:///birthdata.sqlite", echo=False)

In [27]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [28]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [29]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['clinic2010_county',
 'clinic2010_state',
 'clinic2015_county',
 'clinic2015_state',
 'county_pop',
 'county_svi',
 'outcomes']

In [30]:
# Create a session
session = Session(engine)

In [31]:
# Assign the classes to variables
Clinic2015 = Base.classes.clinic2015_county
Clinic2015st = Base.classes.clinic2015_state
Clinic2010 = Base.classes.clinic2010_county
Clinic2010st = Base.classes.clinic2010_state
Outcomes = Base.classes.outcomes
Countypop = Base.classes.county_pop
CountySVI = Base.classes.county_svi

In [32]:
# Display the row's columns and data in dictionary format
first_row_Clinic2015 = session.query(Clinic2015).first()
first_row_Clinic2015.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf0f61a60>,
 'hospital_tt': 0,
 'dept_clinic': 1,
 'total_client_tt': 870.0,
 'pp_tt': 0,
 'hospital': 0,
 'fed_client_tt': 0,
 'other_clinic_tt': 0,
 'pp': 0,
 'dept_clinic_client_tt': 870,
 'other_clinic_client': 0,
 'index': 0,
 'total_client': 1040.0,
 'other_clinic': 0,
 'hospital_client_tt': 0,
 'state': 'Alabama',
 'fed_client': 170,
 'total_titleten': 1,
 'pp_client_tt': 0,
 'fips': 1001,
 'dept_clinic_client': 870,
 'fed_center_tt': 0,
 'other_clinic_client_tt': 0,
 'county': 'Autauga ',
 'hospital_client': 0,
 'dept_clinic_tt': 1,
 'total_clinics': 2,
 'pp_client': 0,
 'fed_center': 1}

In [33]:
# Display the row's columns and data in dictionary format
first_row_Clinic2015st = session.query(Clinic2015st).first()
first_row_Clinic2015st.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf0f79280>,
 'other_clinic': 1108,
 'hospital_client_tt': 196610,
 'index': 0,
 'dept_clinic_client': 1251190,
 'total_titleten': 3700,
 'pp_client_tt': 1581760,
 'hospital_client': 612290,
 'state': 'US Total',
 'fed_center_tt': 950,
 'other_clinic_client_tt': 254620,
 'total_clinics': 10708,
 'pp_client': 1996940,
 'dept_clinic_tt': 1775,
 'fed_center': 5829,
 'other_clinic_client': 510160,
 'hospital_tt': 150,
 'dept_clinic': 2242,
 'total_client_tt': 3827650,
 'pp_tt': 474,
 'hospital': 853,
 'fed_client_tt': 711550,
 'other_clinic_tt': 351,
 'pp': 676,
 'dept_clinic_client_tt': 1083120,
 'total_client': 6246290,
 'fed_client': 1875710}

In [34]:
# Display the row's columns and data in dictionary format
first_row_Clinic2010 = session.query(Clinic2010).first()
first_row_Clinic2010.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf0f22670>,
 'total_clinics': 2,
 'pp_client': 0,
 'hospital_tt': 0,
 'fed_center': 1,
 'other_clinic_client': 0,
 'pp_tt': 0,
 'dept_clinic': 1,
 'total_client_tt': 1120.0,
 'other_clinic_tt': 0,
 'hospital': 0,
 'fed_client_tt': 0,
 'total_client': 1280.0,
 'index': 0,
 'pp': 0,
 'dept_clinic_client_tt': 1120,
 'state': 'Alabama',
 'fed_client': 160,
 'other_clinic': 0,
 'hospital_client_tt': 0,
 'fips': 1001,
 'dept_clinic_client': 1120,
 'total_titleten': 1,
 'pp_client_tt': 0,
 'county': 'Autauga ',
 'hospital_client': 0,
 'fed_center_tt': 0,
 'other_clinic_client_tt': 0,
 'dept_clinic_tt': 1}

In [35]:
# Display the row's columns and data in dictionary format
first_row_Clinic2010st = session.query(Clinic2010st).first()
first_row_Clinic2010st.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf108bd00>,
 'state': 'US Total',
 'hospital_client': 511310,
 'other_clinic_client_tt': 607830,
 'dept_clinic_tt': 2180,
 'total_clinics': 8409,
 'pp_client': 2407840,
 'hospital_tt': 192,
 'fed_center': 3165,
 'other_clinic_client': 898070,
 'pp_tt': 553,
 'dept_clinic': 2439,
 'total_client_tt': 4724250,
 'other_clinic_tt': 629,
 'hospital': 664,
 'fed_client_tt': 435570,
 'total_client': 6706280,
 'pp': 817,
 'dept_clinic_client_tt': 1689860,
 'fed_client': 1054270,
 'other_clinic': 1324,
 'hospital_client_tt': 221220,
 'index': 0,
 'dept_clinic_client': 1834800,
 'total_titleten': 4111,
 'pp_client_tt': 1769760,
 'fed_center_tt': 557}

In [36]:
# Display the row's columns and data in dictionary format
first_row_Outcomes = session.query(Outcomes).first()
first_row_Outcomes.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf1097580>,
 'state': 'U.S. total',
 'percent_met_centers': 18,
 'teen_preg': 321050,
 'births_averted': 614760,
 'preg_averted': 1305570,
 'teen_bc_tt': 626970,
 'bc_centers': 6088190,
 'tt_centers': 3700,
 'abortions_averted_tt': 255550,
 'preg_averted_tt': 755300,
 'index': 0,
 'percent_met_tt': 17,
 'abortions_averted': 441730,
 'centers': 10708,
 'teen_bc_centers': 1166960,
 'bc_tt': 3522120,
 'teen_preg_tt': 172490,
 'births_averted_tt': 355650}

In [37]:
# Display the row's columns and data in dictionary format
first_row_Countypop = session.query(Countypop).first()
first_row_Countypop.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf1082520>,
 '2015_population': 7145,
 'county': 'Adair',
 'state': 'Iowa',
 'index': 0,
 '2010_population': 7682}

In [38]:
# Display the row's columns and data in dictionary format
first_row_CountySVI = session.query(CountySVI).first()
first_row_CountySVI.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8cf10a17f0>,
 'percent_uninsured': 11.6,
 'SVI_sum_of_indicators': 1.9147,
 'county': 'Park',
 'index': 0,
 'SVI_ranking': 0.0,
 'FIPS': 8093,
 'state': 'Colorado'}

In [39]:
session.close()